*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #009688;
    background: linear-gradient(0.5turn, #009688 15%, #d8dbd5 15%);

}
.height{
    height: 90vh;
}


.row{
    background-color: dodgerblue;
}

.col-8{
    background-color: darkgreen;

}

.col-4{
    background-color: cornflowerblue;
}


.backgroundgrey{
    background-color: #eaeaea;
    height: 70px;
}

.allert{
    height: 10%;
    background-color: #8edafc;
}
.content{
    height: 100%;
}
.chat{
    height: 90%;
    background-image: url(.././img/mine.jpg);
    background-position: cover;
    /* background-repeat: no-repeat; */
}


.write-message{
    height: 10%;
    background-color: #eaeaea;
}
    